{% load render_vite_bundle %} {% csrf_token %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      type="image/svg+xml"
      href="/static/assets/favicon.svg"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="/static/assets/favicon.png"
      sizes="32x32"
    />
    {% for font in fonts%}
    <link href="{{font.url}}" rel="stylesheet" />
    {% endfor %}
    <title>PDFactory</title>
    {% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";
      if (RefreshRuntime) {
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      }
    </script>
    {% endif %}
  </head>

  <body>
    <div id="root"></div>
    {% if debug %}
    <script type="module" src="http://localhost:5173/src/main.tsx"></script>
    {% else %} {% render_vite_bundle %} {% endif %}
  </body>
</html>
